trunk/ huiqiu --username iceeer/cs/CSharp3_0CookbookCodeRTM/CSharpRecipes/FulfillmentEnvelope.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FulfillmentEnvelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="productName" type="xs:string" />
              <xs:element name="quantity" type="xs:unsignedByte" />
              <xs:element name="price" type="xs:decimal" />
              <xs:element name="shipDate" type="xs:date" />
            </xs:sequence>
            <xs:attribute name="partNum" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="invoiceDate" type="xs:date" use="required" />
      <xs:attribute name="invoiceNumber" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>