trunk/ huiqiu --username iceeer/cs/CSharp3_0CookbookCodeRTM/CSharpRecipes/ParameterExample.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ParameterExample">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ComicBook">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="edition" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>